@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    
}

.home-page{
    background-color: #004630;
    color: white;
}

.info-page{
    background-color: #004630;
}

.inschrijven-page{
    background-color: #004630;
}

.quiz-page{
    background-color: #004630;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #006445;
    align-items: center;
    gap: 10px;
}

.logo{
    text-decoration: none;
    padding: 10px 30px;
    background-color: white;
    margin-left: 17%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    gap: 10px;
}

.register{
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #dbff4a;
    margin-right: 10%;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 35px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    margin: 6px;
    color: white;
    font-weight: 700;
    padding: 3px;
    position: relative;
    display: inline-block;
}

nav a::after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: #dbff4a;
    transition: width 0.3s ease 0ms, right 0.3s ease 0s;
    width: 0;
}

nav a:hover::after{
    width: 80%;
}

nav a:hover{
    color: #dbff4a;
    transition: 0.4s;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.countdown{
    display: flex;
    background-color: white;
    margin-top: 20px;
    border: 7px solid black;
    
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.time h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    margin: 5px;
    color: black;
}

.time h3{
    font-size: 16px;
    color: black;
}

footer{
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #006445;
    align-items: center;
}

.socials{
    font-size: 40px;
    display: flex;
    gap: 20px;
}

.socials a{
    color: white;
}

.socials a:hover{
    color: #dbff4a;
}
